@charset "utf-8";
/* CSS Document */

body{
	background-color:#FFDBA1;
	height: 4000px;
	width: 100;
    background-image: url("../img/patron.png");
    background-repeat: repeat;
}

div{
	heigh: 30%;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

h1{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 50px;
	color: white;
	text-align: center;
	padding-top: 50px;
	margin-left: 20%;
	margin-right: 20%;
}

h2{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 40px;
	color: white;
	text-align: center;
	padding-top: 75px;
	margin-left: 20%;
	margin-right: 20%;
}

h3{
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 70px;
	color: white;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;
    margin-left: 20%;
	margin-right: 20%;
	}

h4{
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 70px;
	color: white;
	text-align: center;
	padding-top: 10px;
	margin-left: 20%;
	margin-right: 20%;
	}

h5{
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 90px;
	color: white;
	text-align: center;
	letter-spacing: 15px;
	padding-top: 25px;
    margin-left: 20%;
	margin-right: 20%;
	}